
.wrap { 
    padding: 25px; /*A침ade un espacio interior de 25px*/
    text-align: center; /*Texto alineado en el centro*/
    box-shadow: 0 4px 25px -4px #9da5ab; /*Sombra sutil*/
}
article { 
    padding: 25px 0; /*Ana침e un espacio exterior vertical de 25 px y 0 px de horizontal*/
    line-height: 150%; /*Controla la altura de la linea*/
    text-align: left; /*Alinea el texto a la izquierda*/
}

nav .item {
    text-decoration: none;/*Elimina la decoracion por defecto*/
}
nav .active {
    border-bottom: 1px solid;   /*A침ade una linea en la parte de abajo del boton*/
}

@media only screen and (min-width: 768px)/*Aplica a dispositivos pantalla (screen) y cuando el ancho del viewport >= 768px.  only evita que navegadores antiguos que no entienden media queries apliquen las reglas err칩neamente.*/ {
    article { 
        padding: 40px; 
    }
    .wrap { 
        max-width: 750px; 
        margin: 50px auto;
        padding: 30px 40px;
    }
}
    